﻿@model ConcertApp.Models.Concert

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Concert</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcertName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcertName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcertDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcertDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcertPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcertPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcertPlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcertPlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConcertImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConcertImageURL)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
